body{
  background-color: #01FF70;

}
#panel{
  display: none;
}
.a{
border: 1px solid black;
margin: 15% 30%;
border-radius: 7px;
box-shadow: 5px 10px ;
background-color: black;
color: white;
}
input[type=text]{
padding: 5px 7px;
/* margin:1% 5% 1% 5%; */
margin-top:1%;
margin-bottom: 1%;
border: none;
 border-bottom: 1px solid white;
background-color: black;
color: white;
text-decoration: underline;

}
label{
  margin-left: 5%;
}
#submit{
  padding: 5px 7px;
  border: none;
    text-decoration: underline;
  margin-left: 5%;
  background-color: black;
  margin-bottom: 3%;
    color: #01FF70;
    margin-top: 1%;
}
h1{
  text-align: center;
  text-decoration: underline;
  color: #01FF70;

}
